<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/02176ec1ff.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Interactive billboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Welcome, {{ request.user }}, Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <div id="file-div">Drag and drop your file or
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="slots">Choose a slot:</label>
                <select name="slots" id="slots">
                  {% for slot in slots %}
                  <option value={{ slot.pk }} name='slot'>{{ slot }} Rs. 200</option>
                  {% endfor %}
                </select>
              <label for="billboards">Choose a billboard:</label>
                <select name="billboards" id="billboards">
                  {% for billboard in billboards %}
                  <option value={{ billboard.pk }} name="billboard">{{ billboard }}</option>
                  {% endfor %}
                </select>
                <label for="files" id="browse" >Browse</label> for upload
                <input type="file" name="myfile" id="files" style="visibility: hidden; width: 0px;"></input>
                <button type="submit" id="submit" style="visibility: hidden;"> </button>
        </form>
        <p id="filename"></p>
        <button id="upload" disabled> Upload </button>
        <a target="_blank" 
    class="btn btn-info pull-right" 
    href="{% url 'razorpay' %}">
    Check It Out
</a>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  if('{{ amount_paid }}'=='False') {
    var payment_completed = false
  }
  else {
    payment_completed = true
  }
  console.log(payment_completed)
  if(payment_completed) {
    $('#upload').prop("disabled", false);
    console.log(payment_completed)
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">

</script>
<script src="{% static 'scripts.js' %}">
</script>
</html>
